* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  align-items: center;
  background-color: rgb(203, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.calculator-container {
  background-color: rgb(26, 26, 26);
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 20%;
}

.display {
  border-bottom: 1px solid white;
  color: white;
}